name: "Build and populate cache"

on:
  push:
    branches:
      - main
  schedule:
    - cron: 12 3 * * *
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build-and-populate:
    strategy:
      matrix:
        nixpkgs:
          - github:NixOS/nixpkgs/nixpkgs-unstable
          - github:NixOS/nixpkgs/nixos-unstable
          - github:NixOS/nixpkgs/nixos-25.05
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Setup cachix
        uses: cachix/cachix-action@v16
        with:
          name: "francynox"
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Build nix packages
        run: nix run github:Mic92/nix-fast-build -- --skip-cached --no-nom --flake .#ciJobs --override-input nixpkgs ${{ matrix.nixpkgs }}
