name: "Auto-Update Packages"

on:
  workflow_dispatch:
  schedule:
    - cron: 41 15 * * *

jobs:
  list-all-packages:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.set-matrix.outputs.packages }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: List all packages
        id: set-matrix
        run: |
          PACKAGES_JSON=$(nix flake show --json . | jq -c '[.packages | .[] | keys[]] | unique')
          echo "Found packages: $PACKAGES_JSON"
          echo "packages=$PACKAGES_JSON" >> $GITHUB_OUTPUT

  create-update-prs:
    needs: list-all-packages
    if: needs.list-all-packages.outputs.packages != '[]'
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    strategy:
      matrix:
        package: ${{ fromJson(needs.list-all-packages.outputs.packages) }}
      fail-fast: false

    steps:
      - name: Generate GitHub App Token
        uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixpkgs-unstable
          extra_nix_config: |
            experimental-features = nix-command flakes
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Run update script for ${{ matrix.package }}
        run: |
          nix-shell ./maintainers/scripts/update.nix --argstr package ${{ matrix.package }}

      - name: Create Pull Request if changes detected
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.generate-token.outputs.token }}
          author: Pkgs updater Bot <actions@github.com>
          committer: Pkgs updater Bot <actions@github.com>

          commit-message: "auto-update: Update ${{ matrix.package }}"
          branch: "auto-update/${{ matrix.package }}"
          title: "Auto-update: ${{ matrix.package }}"
          body: |
            Automated update for \`${{ matrix.package }}\`.

            This PR was generated by the `auto-update-packages` GitHub Action.
          delete-branch: true
